body{
    font-family: 'Barlow Semi Condensed', sans-serif;;
}
header {
background-color: #3b6978;
color: whitesmoke;
}
.menu a{
    text-decoration: none;
    color: whitesmoke;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Amatic SC', cursive;
}

.hero {
    font-size: 30px;
    background-image: url('../images/portada.jpg');
    background-repeat: no-repeat;
    background-size: 500px;
    background-position-x: right;
    background-color: #204051;
    color: honeydew;
}

.hero article h1 strong{
color: gray;
}
